#wrapper {
	margin-left: 15%;
	width:70%;
}

.nav img {
	padding-top: 3%;
	margin-left: 45%;
	width:8%;
}

#content-wrapper {
	width: 100%;
	margin-left:20%;
}

#content-wrapper img {
	width:35%;
}

